<ion-view title="About">
  <ion-content>
	  <div class="list card">
	
		  <div class="item item-avatar">
		    <img src="img/logo-website.png">
		    <h2>SWAG</h2>
		    <p><b>Safety of Women Against Guddus</b></p>
		  </div>
		
		  <div class="item item-body">
		    <img class="full-image" src="img/swag.png">
		    <p>No one can deny the fact that the condition of women in a country that prides itself for its values and traditions is 
			    appalling. The amount of restrictions placed on the so-called fairer sex, that limits their potential, is no longer an issue 
			    that can be avoided and thus, PECFEST’14 is proud to endorse the social cause of Safety of Women Against Guddus. 
			    For the first time in the history of PEC, University of Technology, the college has taken the initiative to raise its voice 
			    against the injustices faced by women on a daily basis.</p>
			  <p>
			     A guy can walk out of his hostel in boxers and no one bats an eye but if a girl wears shorts to class, everyone loses their 
			     minds. He can waltz in at 12 at night and get away with it but if she gets in after dark, questions are always raised. 
			     He has the freedom and the right to go wherever he wants without fear of his safety whereas a separate compartment has to be 
			     made for her in the metro to safeguard her virtue. The clear and marked difference in the way our “progressive” society 
			     treats the two genders in the twenty first century is no longer something we can avoid.
			  </p>
			  <p>
			     In a society which is growing and developing for a better future, it is more than a little ironic that there are a separate 
			     set of rules for males and females. This level of discrimination against females is not something we as a society should 
			     tolerate. Let’s all raise a voice against this unfair treatment. #SWAG
			  </p>
			  
		  </div>
		
		
		</div>
  </ion-content>
</ion-view>
