<ion-view title="SWAG">
  <ion-content class="padding">
    <h1>Scream</h1>
    <p>Safty Alarm</p>
    <p>Press the button for making the phone scream loudly with a woman's voice!</p>
    <p>Perfect for females that need some kind of safety alarm. In many situations our voice did not come out so to alarm people around you, instantly press the button if you feel threatened! </p>
    <div class="col logo">
      <img ng-click="scream()" alt="logo" width="100" src="img/scream-btn.png">
    </div>
    <button ng-click="sendsms()" class="button button-assertive">
		  Send SMS
		</button>
    <button ng-click="call()" class="button button-energized">
      Call Police
    </button>
    <button ng-click="sharelocation()" class="button button-dark">
		  Share Location
		</button>
  </ion-content>
</ion-view>
